In [21]:
import pandas as pd

DIR='../Data/'
FILE=DIR+'stock-data.csv'
stockDF=pd.read_csv(FILE)

In [22]:
stockDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    20 non-null     object
 1   Close   20 non-null     int64
 2   Start   20 non-null     int64
 3   High    20 non-null     int64
 4   Low     20 non-null     int64
 5   Volume  20 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.1+ KB

In [23]:
stockDF.head()

         Date  Close  Start   High    Low  Volume
0  2020-07-02  10100  10850  10900  10000  137977
1  2021-06-29  10700  10550  10900   9990  170253
2  2022-06-28  10400  10900  10950  10150  155769
3  2018-06-27  10900  10800  11050  10500  133548
4  2018-06-26  10800  10900  11000  10700   63039

In [24]:
# date column object 년, 월, 일 따로

#- 접근자 사용하여 Date 컬럼 분할 (Y, M, D)

#- D일 기준으로 정렬

In [27]:
stockDF['Date'].str.split('-')

0     [2020, 07, 02]
1     [2021, 06, 29]
2     [2022, 06, 28]
3     [2018, 06, 27]
4     [2018, 06, 26]
5     [2018, 06, 25]
6     [2018, 06, 22]
7     [2018, 06, 21]
8     [2018, 06, 20]
9     [2018, 06, 19]
10    [2018, 06, 18]
11    [2018, 06, 15]
12    [2018, 06, 14]
13    [2018, 06, 12]
14    [2018, 06, 11]
15    [2018, 06, 08]
16    [2018, 06, 07]
17    [2018, 06, 05]
18    [2018, 06, 04]
19    [2018, 06, 01]
Name: Date, dtype: object

In [ ]:
stockDF