## 피봇(Pivot)실습 -----------------------------------------------------------------------

- 대량의 데이터(DataFrame)에서 원하는 컬럼을 선택해서 Index, Column, Values로 설정

- 새로운 DF 객체 생성

- 함수

        => pandas.pivot().pandas.DataFrame.pivot()
        => pandas.pivot_table().pnadas.DataFrame.pivot_table()

In [2]:
# 모듈 로딩 ------------------------------------------------------
import pandas as pd

# 데이터 생성 ----------------------------------------------------
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
df

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [3]:
# 데이터 구성 확인
# 데이터 전처리 => 정제 (Cleaning)
df.isnull().sum()

foo    0
bar    0
baz    0
zoo    0
dtype: int64

In [4]:
df.duplicated().sum()

0

In [9]:
# pivot()으로 원하는 DF 생성
myDF=pd.pivot(df, index='foo', columns='bar', values='baz')
myDF

bar  A  B  C
foo
one  1  2  3
two  4  5  6