# [실습] ------------------------------------------

-CSV 파일 읽고 컬럼별 최고값과 값의 개수 출력

In [4]:
import pandas as pd
DIR_PATH='../Data/'
FILE_NAME=DIR_PATH+'iris2.csv'
FILE_NAME

'../Data/iris2.csv'

In [15]:
irisDF=pd.read_csv(FILE_NAME, header=None, sep=',')

In [18]:
irisDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       147 non-null    float64
 1   1       150 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
 4   4       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [19]:
irisDF.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  NaN  3.6  1.4  0.2  Iris-setosa

In [25]:
irisDF.tail()

       0    1    2    3               4
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

In [21]:
irisDF[0].max()

7.9

In [22]:
irisDF[0].value_counts()

5.1    9
5.0    9
6.3    9
6.7    8
5.7    8
6.4    7
5.8    7
5.5    7
5.6    6
6.1    6
6.0    6
4.9    6
4.8    5
6.5    5
7.7    4
6.2    4
6.9    4
4.6    4
5.2    4
5.4    4
5.9    3
4.4    3
7.2    3
6.8    3
6.6    2
4.7    2
7.6    1
7.4    1
7.3    1
7.0    1
7.1    1
5.3    1
4.3    1
4.5    1
7.9    1
Name: 0, dtype: int64

In [23]:
irisDF[1].max()

4.4

In [24]:
irisDF[1].value_counts()

3.0    26
2.8    14
3.2    13
3.1    12
3.4    12
2.9    10
2.7     9
2.5     8
3.5     6
3.3     6
3.8     6
2.6     5
2.3     4
3.7     3
2.4     3
2.2     3
3.6     3
3.9     2
4.4     1
4.0     1
4.1     1
4.2     1
2.0     1
Name: 1, dtype: int64

In [26]:
# 컬럼 값이 Nan, Na인 것도 카운팅하고 싶음 => drropna 파라미터 값 False
irisDF['SF'].value_counts(dropna=false)

KeyError: 'SF'