In [18]:
!pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xlrd in c:\programdata\anaconda3\lib\site-packages (2.0.1)

In [24]:
# 모듈 로딩 ------------------------------------------------------
import pandas as pd


# 파일 관련 변수 선언 --------------------------------------------
DIR_PATH='../Data1/'
FILE_NAME=DIR_PATH+'aa.xlsx'

FILE_NAME

'../Data1/aa.xlsx'

In [25]:
# (1) CSV FILE => DataFrame 로딩 ------------------------------

memeDF=pd.read_excel(FILE_NAME)
memeDF

,○ 규모별 매매가격지수 [2021.6 = 100.0],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,주택유형별,지역별,주택규모별,항목,단위,2012.12 월,2013.12 월,2014.12 월,2015.12 월,2016.12 월,2017.12 월,2018.12 월,2019.12 월,2020.12 월,2021.12 월
1,아파트,전국,규모1,매매가격,NaN,NaN,NaN,NaN,NaN,NaN,98.497161,96.320662,93.255613,95.652263,105.617877
2,아파트,전국,규모2,매매가격,NaN,80.808481,82.465572,85.257636,89.96904,90.707705,91.578483,90.354216,87.848642,92.748883,107.310105
3,아파트,전국,규모3,매매가격,NaN,77.843045,78.478005,80.617396,84.492131,85.089976,85.993604,86.323863,85.463354,92.957672,105.863603
4,아파트,전국,규모4,매매가격,NaN,73.11546,71.85997,73.497807,76.388852,77.15696,78.554886,80.859093,81.274694,92.076906,105.794645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,단독주택,경남,규모2,매매가격,NaN,89.966061,91.380511,92.544642,93.562017,94.475814,96.81274,98.656735,98.795276,99.125174,100.739253
530,단독주택,경남,규모3,매매가격,NaN,90.650117,91.694407,92.485712,93.092057,93.308303,95.544333,97.749944,98.566383,99.02724,101.153022
531,단독주택,제주,규모1,매매가격,NaN,87.920384,88.146974,88.346703,92.961153,96.524867,99.898119,104.501713,102.193086,99.720065,102.070445
532,단독주택,제주,규모2,매매가격,NaN,85.928487,86.457531,86.969363,92.035965,95.337008,98.723582,103.919095,101.95648,99.865495,101.555864
533,단독주택,제주,규모3,매매가격,NaN,85.444993,85.779979,86.447549,92.315075,95.904138,99.331301,104.065535,101.66338,99.556493,101.772729

In [21]:
# 모듈 로딩 ------------------------------------------------------
import pandas as pd
import readxl as rx

# 파일 관련 변수 선언 --------------------------------------------
DIR_PATH='../Data1/'
FILE_NAME=DIR_PATH+'규모별매매가격지수.xls'

FILE_NAME

ModuleNotFoundError: No module named 'readxl'