# 데이터 갯수와 고유값 -----------------------

- 컬럼별 개수 ==> count() 메서드

- 컬럼별 고유값 ==> unique() 메서드

- 컬럼별 값별 개수 ==> value_counts() 메서드

In [1]:
# 모듈 로딩 ----------------------------------------------------
import pandas as pd

# 파일 관련 변수 선언 -------------------------------------------
DIR_PATH='../Data/'
FILE_NAME=DIR_PATH+'iris.csv'

FILE_NAME

'../Data/iris.csv'

In [2]:
# (1) File ===> DataFrame으로 가져오기
irisDF=pd.read_csv(FILE_NAME)

In [4]:
# (1) 데이터 확인하기 -------------------------------------------

# DF 요약 정보 ==> info()메서드
irisDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
# DF columns 정보 확인
irisDF.columns

Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name'], dtype='object')

In [6]:
# DF shape, ndim 정보 확인    shape(행,열)/ ndim(2차원)
irisDF.shape, irisDF.ndim

((150, 5), 2)

In [14]:
# (2) 원하는 작업 수행 -------------------------------------
# 'Name' 컬럼 추출  ==> DF객체변수명[ 컬럼명 ]
irisDF['Name']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Name, Length: 150, dtype: object

In [15]:
irisDFNam=irisDF['Name']

In [16]:
type(irisDFNam)

pandas.core.series.Series

In [12]:
# 'Name' 컬럼의 데이터 갯수
irisDFNam.count()

150

In [17]:
# 'Name' 컬럼의 고유값 -> 값의 종류
irisDF['Name'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [18]:
# 'Name' 컬럼의 값의 개수
irisDF['Name'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Name, dtype: int64

In [19]:
# 'SepalLength' 컬럼의 데이터 갯수, 값의 종류, 값의 갯수 출력
irisDF['SepalLength'].count()

150

In [20]:
irisDF['SepalLength'].unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

In [21]:
irisDF['SepalLength'].value_counts()

5.0    10
5.1     9
6.3     9
5.7     8
6.7     8
5.8     7
5.5     7
6.4     7
4.9     6
5.4     6
6.1     6
6.0     6
5.6     6
4.8     5
6.5     5
6.2     4
7.7     4
6.9     4
4.6     4
5.2     4
5.9     3
4.4     3
7.2     3
6.8     3
6.6     2
4.7     2
7.6     1
7.4     1
7.3     1
7.0     1
7.1     1
5.3     1
4.3     1
4.5     1
7.9     1
Name: SepalLength, dtype: int64

In [27]:
type(irisDF['SepalLength'].value_counts())

pandas.core.series.Series

In [28]:
irisDF['SepalLength'].value_counts().index

Float64Index([5.0, 5.1, 6.3, 5.7, 6.7, 5.8, 5.5, 6.4, 4.9, 5.4, 6.1, 6.0, 5.6,
              4.8, 6.5, 6.2, 7.7, 6.9, 4.6, 5.2, 5.9, 4.4, 7.2, 6.8, 6.6, 4.7,
              7.6, 7.4, 7.3, 7.0, 7.1, 5.3, 4.3, 4.5, 7.9],
             dtype='float64')

In [22]:
irisDF['SepalLength'].value_counts().max()

10

In [25]:
type(irisDF['SepalLength'].value_counts().max())

int

In [23]:
irisDF['SepalLength'].value_counts().argmax()

0

In [26]:
type(irisDF['SepalLength'].value_counts().argmax())

numpy.int64

In [24]:
irisDF['SepalLength'].value_counts().argmin()

26

In [29]:
irisDF['SepalLength'].value_counts().argmax()

0

In [30]:
irisDF['SepalLength'].value_counts().index

Float64Index([5.0, 5.1, 6.3, 5.7, 6.7, 5.8, 5.5, 6.4, 4.9, 5.4, 6.1, 6.0, 5.6,
              4.8, 6.5, 6.2, 7.7, 6.9, 4.6, 5.2, 5.9, 4.4, 7.2, 6.8, 6.6, 4.7,
              7.6, 7.4, 7.3, 7.0, 7.1, 5.3, 4.3, 4.5, 7.9],
             dtype='float64')

In [32]:
irisDF.iloc[[0],]

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa

In [34]:
# SR 객체 안에서 최대 큰 값
valueSR.max()

NameError: name 'valueSR' is not defined

In [35]:
# SR객체 안에서 최대 작은 값
valueSR.min()

NameError: name 'valueSR' is not defined

In [36]:
# SR객체 안에서 최대값이 존재하는 인데스 => argmax()
valueSR.argmax()

NameError: name 'valueSR' is not defined

In [37]:
# SR객체 안에서 최대값이 존재하는 인덱스 라벨
valueSR.index[valueSR.argmax()], valueSR.index[valueSR.argmin()]

NameError: name 'valueSR' is not defined