In [1]:
import folium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
DIR='./대구광역시 일별 충전기별 사용현황_20220531.csv'
DIR1='./대구광역시_전기차충전소_20190627.csv'
DIR2='./한국전력공사_충전소의 위치 및 현황 정보_20201008.xlsx'

In [13]:
df=pd.read_csv(DIR, encoding='cp949')
df1=pd.read_csv(DIR1, encoding='cp949')
# df2=pd.read_csv(DIR2, 'rt', encoding='UTF8')

In [21]:
df.head(10)

,일자,충전소ID,충전소명칭,위도,경도,충전기ID,충전기타입,사용횟수,충전량
0,2022-05-31,27110001,국채보상운동기념공원주차장,35.868863,128.600299,1,완속,3,110.59
1,2022-05-31,27110001,국채보상운동기념공원주차장,35.868863,128.600299,2,완속,1,22.38
2,2022-05-31,27110001,국채보상운동기념공원주차장,35.868863,128.600299,3,완속,3,20.13
3,2022-05-31,27110002,대구시청,35.871039,128.601444,1,급속,6,119.40
4,2022-05-31,27110002,대구시청,35.871039,128.601444,2,완속,5,32.35
5,2022-05-31,27110003,서문주차빌딩,35.868986,128.581015,1,급속,5,61.43
6,2022-05-31,27110003,서문주차빌딩,35.868986,128.581015,2,완속,5,32.23
7,2022-05-31,27110003,서문주차빌딩,35.868986,128.581015,3,완속,2,13.30
8,2022-05-31,27110009,동인동행정복지센터,35.867832,128.609096,1,완속,2,70.97
9,2022-05-31,27140001,갓바위공영3주차장,35.970269,128.725839,1,완속,1,1.19

In [20]:
df1.head()

,충전소명,충전소위치상세,설치시도명,휴점일,이용가능시작시각,이용가능종료시각,완속충전가능여부,급속충전가능여부,급속충전타입구분,완속충전기대수,급속충전기대수,주차료부과여부,소재지도로명주소,소재지지번주소,관리업체명,관리업체전화번호,위도,경도,데이터기준일자
0,DTC섬유박물관,지하1층 T6,대구광역시,연중무휴,00:00,00:00,N,Y,DC차데모+AC3상+DC콤보,0,1,N,대구광역시 동구 팔공로 227,대구광역시 동구 봉무동 1560-1,대구환경공단,053-605-8060,35.919316,128.640135,2019-06-27
1,갓바위공영3주차장,입구 우측,대구광역시,연중무휴,07:00,20:00,Y,N,NaN,3,0,Y,대구광역시 동구 갓바위로 227,대구광역시 동구 진인동 123-74,대구환경공단,053-605-8060,35.970881,128.726168,2019-06-27
2,갓바위공영5주차장,입구 우측,대구광역시,연중무휴,07:00,20:00,N,Y,DC차데모+AC3상+DC콤보,0,1,Y,대구광역시 동구 진인동 123-38,대구광역시 동구 진인동 123-38,대구환경공단,053-605-8060,35.969378,128.726065,2019-06-27
3,국채보상운동기념공원주차장,지하 1층 우측,대구광역시,연중무휴,00:00,00:00,Y,N,NaN,3,0,Y,대구광역시 중구 공평로10길 25,대구광역시 중구 동인동2가 42-1,대구환경공단,053-605-8060,35.868440,128.601715,2019-06-27
4,논공읍 논공공단출장소,입구 좌측,대구광역시,연중무휴,00:00,00:00,N,Y,DC차데모+AC3상+DC콤보,0,1,N,대구광역시 달성군 논공읍 논공중앙로 33길 3,대구광역시 달성군 논공읍 북리 1-130,대구환경공단,053-605-8060,35.730040,128.452781,2019-06-27

In [19]:
df.columns

Index(['일자', '충전소ID', '충전소명칭', '위도', '경도', '충전기ID', '충전기타입', '사용횟수', '충전량'], dtype='object')

In [18]:
df1.columns

Index(['충전소명', '충전소위치상세', '설치시도명', '휴점일', '이용가능시작시각', '이용가능종료시각', '완속충전가능여부',
       '급속충전가능여부', '급속충전타입구분', '완속충전기대수', '급속충전기대수', '주차료부과여부', '소재지도로명주소',
       '소재지지번주소', '관리업체명', '관리업체전화번호', '위도', '경도', '데이터기준일자'],
      dtype='object')

In [41]:
df=df[['충전소명칭','위도','경도']]
df.columns=['충전소명','위도','경도']

In [42]:
df.head()

            충전소명         위도          경도
0  국채보상운동기념공원주차장  35.868863  128.600299
1  국채보상운동기념공원주차장  35.868863  128.600299
2  국채보상운동기념공원주차장  35.868863  128.600299
3           대구시청  35.871039  128.601444
4           대구시청  35.871039  128.601444

In [43]:
df1=df1[['충전소명','위도','경도']]
df1.head()

            충전소명         위도          경도
0       DTC섬유박물관  35.919316  128.640135
1      갓바위공영3주차장  35.970881  128.726168
2      갓바위공영5주차장  35.969378  128.726065
3  국채보상운동기념공원주차장  35.868440  128.601715
4    논공읍 논공공단출장소  35.730040  128.452781

In [44]:
alldf=pd.concat([df,df1],axis=0)
alldf

              충전소명         위도          경도
0    국채보상운동기념공원주차장  35.868863  128.600299
1    국채보상운동기념공원주차장  35.868863  128.600299
2    국채보상운동기념공원주차장  35.868863  128.600299
3             대구시청  35.871039  128.601444
4             대구시청  35.871039  128.601444
..             ...        ...         ...
112            아이빌  35.902056  128.576936
113           아주운수  35.896375  128.640599
114   대구 지식서비스센터 앞  35.873307  128.624832
115         달성문화센터  35.865271  128.460701
116        상공회의소 앞  35.871090  128.624959

[295381 rows x 3 columns]

In [45]:
alldf.isnull().sum()

충전소명    0
위도      0
경도      0
dtype: int64

In [46]:
alldf.duplicated()

0      False
1       True
2       True
3      False
4       True
       ...
112    False
113    False
114    False
115    False
116    False
Length: 295381, dtype: bool

In [48]:
alldf[['위도','경도']]

            위도          경도
0    35.868863  128.600299
1    35.868863  128.600299
2    35.868863  128.600299
3    35.871039  128.601444
4    35.871039  128.601444
..         ...         ...
112  35.902056  128.576936
113  35.896375  128.640599
114  35.873307  128.624832
115  35.865271  128.460701
116  35.871090  128.624959

[295381 rows x 2 columns]

In [50]:
alldf1=alldf.drop_duplicates(['위도','경도'], keep='first')
alldf1

              충전소명         위도          경도
0    국채보상운동기념공원주차장  35.868863  128.600299
3             대구시청  35.871039  128.601444
5           서문주차빌딩  35.868986  128.581015
8        동인동행정복지센터  35.867832  128.609096
9        갓바위공영3주차장  35.970269  128.725839
..             ...        ...         ...
112            아이빌  35.902056  128.576936
113           아주운수  35.896375  128.640599
114   대구 지식서비스센터 앞  35.873307  128.624832
115         달성문화센터  35.865271  128.460701
116        상공회의소 앞  35.871090  128.624959

[315 rows x 3 columns]

In [55]:
alldf1['충전소명']=='국채보상운동기념공원주차장'

0          True
0         False
1         False
3         False
3          True
          ...
250773    False
259335    False
266430    False
278634    False
291854    False
Name: 충전소명, Length: 315, dtype: bool

In [56]:
alldf2=alldf1.drop_duplicates(['충전소명'], keep='first')
alldf2

                    충전소명         위도          경도
0          국채보상운동기념공원주차장  35.868863  128.600299
0               DTC섬유박물관  35.919316  128.640135
1              갓바위공영3주차장  35.970881  128.726168
3                   대구시청  35.871039  128.601444
4            논공읍 논공공단출장소  35.730040  128.452781
...                  ...        ...         ...
250773   대구시_고산2동 행정복지센터  35.843449  128.695181
259335  대구시_도동 측백향커뮤니티센터  35.919051  128.662238
266430         대구시_수성소방서  35.825251  128.644448
278634          대구시_태전공원  35.931466  128.544637
291854    대구시_유천동 행정복지센터  35.817079  128.513943

[255 rows x 3 columns]

In [58]:
alldf2=alldf2.sort_index(ascending=True)
alldf2=alldf2.reset_index(drop=True)
alldf2

                 충전소명         위도          경도
0       국채보상운동기념공원주차장  35.868863  128.600299
1            DTC섬유박물관  35.919316  128.640135
2           갓바위공영3주차장  35.970881  128.726168
3                대구시청  35.871039  128.601444
4         논공읍 논공공단출장소  35.730040  128.452781
..                ...        ...         ...
250   대구시_고산2동 행정복지센터  35.843449  128.695181
251  대구시_도동 측백향커뮤니티센터  35.919051  128.662238
252         대구시_수성소방서  35.825251  128.644448
253          대구시_태전공원  35.931466  128.544637
254    대구시_유천동 행정복지센터  35.817079  128.513943

[255 rows x 3 columns]

In [59]:
print(len(alldf2))

255

In [63]:
name1 = []
for i in range(len(alldf2)):
    name1.append(alldf2['충전소명'][i])

print(name1)

['국채보상운동기념공원주차장', 'DTC섬유박물관', '갓바위공영3주차장', '대구시청', '논공읍 논공공단출장소', '서문주차빌딩', '농수산물도매시장', '달서구청', '달서시장공영주차장', '동인동행정복지센터', '달성군청', '대구도시철도공사', '갓바위공영5주차장', '동구청', '대구의료원', '동대구복합환승센터', '두류공원', '대구환경공단(지산)', '율하체육공원3주차장', '북구청', '첨단의료산업진흥재단', '서구국민체육센터', '환경공단안심관리소', '서구청', '성서체육공원주차장', '반야월공영주차장', '파계사 공영주차장', '성서홈플러스', '수성구청', '해안동 행정복지센터', '동촌유원지 입구 주차장', '대구지식서비스센터', '상공회의소', '시설안전관리사업소', '신암공원', '시지근린공원', '아양아트센터', '시청별관', '어린이회관', '불로봉무동행정복지센터', '외환들공영주차장', '차량등록사업소', '충전인프라 관제센터', '충혼탑 주차장', '대구환경공단(달서천)', '패션센터 주차장', '상중이동 행정복지센터', '서대구산업단지 근로자복지회관', '상중이동행정복지센터', '비산1동행정복지센터', '평리3동행정복지센터', '관음공영주차장', '복현장미공원', '대구 부광교회', '대명5동 행정복지센터', '두산오거리(두산스포츠 북동편 도로면)', '파동교네거리주차장', '이천동행정복지센터', '월광수변공원주차장', '봉덕2동행정복지센터', '대구환경공단(본부)', '대명9동행정복지센터', '다사읍사무소', '달성군 농업기술센터', '비슬산자연휴양림공영주차장', '매천역환승공영주차장', '한국산업단지 달성출장소', '중구청', '대신동 행정복지센터', '신암2동 행정복지센터', '효목1동 행정복지센터', '도평동 행정복지센터', '동촌동 행정복지센터', '방촌동 행정복지센터', '안심3.4동 행정복지센터', '남구청', '봉덕3동 행정복지센터', '구암동 행정복지센터', '한국도로공사 칠곡영업소', '대명2동 행정복지센터', '유니버시아드 레포츠센터', '대명3동 행정복지센터', '아이빌', '대명4동 행정복지센터', '고성동 행정복지센터', '대구체육관 주차장', '대구은행 제2본점영업부', '산격3동 행정복지센터', '대구사격장', '무태조야동 행정복지센터', '태전1동 행정복지센터', '동림플라자', '황금1동 행정복지센터', '동천동행정복지센터', '본리동 행정복지센터', '관음동행정복지센터', '죽전동 행정복지센터', '검단동행정복지센터', '송현2동 행정복지센터', '산격2동행정복지센터', '하빈면 행정복지센터', '복현2동행정복지센터', '침산1차 푸르지오', '명성 푸르지오', '성당두산위브', '진천1차 삼성레미안', '수성의료지구', '수성대학교 입구 우', '수성대학교 입구 좌', '대구은행(월배지점)', '시지근린공원(누리타운 서편 도로면)', '대구은행(3공단지점)', '대구은행(신암동지점)', '안심1동', '동천동 행정복지센터', '유가면 행정복지센터', '차량등록사업소1', '옥포면사무소', '지능형자동차부품진흥원', '남산3동 행정복지센터', '대구은행 파동지점', '지산근린공원 주차장', '명복공원 주차장', '대구은행 시지지점', '신매공영주차장', '수성아트피아', '만촌3동행정복지센터', '진천동 행정복지센터 앞 주차장', '중동행정복지센터', '상동행정복지센터', '차량등록사업소 서부분소', '다사체육공원 주차장', '지산1동행정복지센터', '동구 해안동 행정복지센터', '고산3동행정복지센터', '남구 대명5동 행정복지센터', '북구 구암동 행정복지센터', '두류공원(성당휴게소)', '대구은행 본리동지점', '서부법원 앞(롯데캐슬입구)', '용산2동 행정복지센터', '아주운수', '대구 지식서비스센터 앞', '달성문화센터', '상공회의소 앞', '진천동 행정복지센터', '대덕승마장', '용산1동행정복지센터', '두류1+2동행정복지센터', '성당동행정복지센터', '월성2동행정복지센터', '본동행정복지센터', '월성1동행정복지센터', '상인2동행정복지센터', '상인1동행정복지센터', '송현1동행정복지센터', '도원동행정복지센터', '가창면행정복지센터', '현풍읍행정복지센터', '대구과학관', '다사읍행정복지센터', '문양역 야외주차장', '내당2+3동행정복지센터', '올브랜 주차장', '복현장미공원공영주차장', '만촌2동행정복지센터', '다사읍행정복지센터 서재출장소', '남산4동행정복지센터', '논공읍행정복지센터', '옥포읍행정복지센터', '평리1동행정복지센터', '비산4동행정복지센터', '화원읍행정복지센터', '감삼동행정복지센터', '고산2동행정복지센터', '수목원삼성래미안', '신암1동행정복지센터', '대구시_동천동 행정복지센터', '대구시_산격3동 행정복지센터', '대구시_죽전동 행정복지센터', '대구시_고성동 행정복지센터', '대구시_남구청', '대구시_남산3동 행정복지센터', '대구시_대구도시철도공사', '대구시_대구은행 3공단영업부지점', '대구시_대구은행 신암동지점', '대구시_대구은행 월배지점', '대구시_대명2동 행정복지센터', '대구시_대명3동 행정복지센터', '대구시_대명4동 행정복지센터', '대구시_대신동 행정복지센터', '대구시_도평동 공영주차장', '대구시_동촌동 행정복지센터', '대구시_명성푸르지오', '대구시_무태조야동 행정복지센터', '대구시_방촌동 행정복지센터', '대구시_본리동 행정복지센터', '대구시_봉덕3동 행정복지센터', '대구시_성당두산위브', '대구시_송현2동 행정복지센터', '대구시_수성의료지구', '대구시_수성의료지구(대구도시공사)', '대구시_신암2동 행정복지센터', '대구시_안심1동 행정복지센터', '대구시_안심3+4동 행정복지센터', '대구시_옥포읍 행정복지센터', '대구시_유가읍 행정복지센터', '대구시_중구청', '대구시_지능형자동차부품진흥원', '대구시_지산2동', '대구시_진천삼성래미안', '대구시_차량등록사업소', '대구시_침산푸르지오', '대구시_태전1동 행정복지센터', '대구시_하빈면사무소', '대구시_황금1동 행정복지센터', '대구시_효목1동 행정복지센터', '대구시_KS택시주식회사', '대구시_남산2동 행정복지센터', '대구시_대구 지식산업센터', '대구시_대구유통단지 전자관', '대구시_대구은행 본점', '대구시_대구테크노파크 신기술산업지원센터', '대구시_대명11동 행정복지센터', '대구시_대봉2동 주민센터', '대구시_대현동 행정복지센터', '대구시_상호림공원', '대구시_운암지 공영주차장', '대구시_월촌공원주차장', '대구시_장기공영주차장', '대구시_저소득층 밀집지구 지식산업센터', '대구시_한국도로공사(유천IC)', '대구시_공산동 행정복지센터', '대구시_내당4동', '대구시_대구시청', '대구시_두류3동', '대구시_범물1동', '대구시_범어1동', '대구시_비산7동 행정복지센터', '대구시_산격1동', '대구시_삼덕동', '대구시_상리공원', '대구시_상인3동', '대구시_신당동', '대구시_신매공원', '대구시_신암1동 행정복지센터', '대구시_지저동', '대구시_칠성동', '대구시_태전2동', '대구시_효목2동', '대구시_고산2동 행정복지센터', '대구시_도동 측백향커뮤니티센터', '대구시_수성소방서', '대구시_태전공원', '대구시_유천동 행정복지센터']

In [76]:
a=int(input(f'숫자: '))
b=name1[a]
print(b)
print(alldf2[alldf2['충전소명']==b][['위도','경도']])
print('---------------------------------------------------')
if a == 255:
    print('end')

숫자: 0
국채보상운동기념공원주차장
          위도          경도
0  35.868863  128.600299
---------------------------------------------------

In [ ]:
map = folium.Map(location=[35.868863,128.600299], zoom_strat=14)

for i in range(len(df2)):
    folium.Marker([df2.iloc[i,1],df2.iloc[i,2]]).add_to(m3)

map