### 문제

In [1]:
money = int(input("투입한 돈: "))
price = int(input("물건 값: "))

change = money-price
print("거스름돈: ", change)

투입한 돈: 56700
물건 값: 100
거스름돈:  56600

In [2]:
print("거스름 돈: ", change)
coin1000s = change//1000
change = change%1000
coin500s = change//500
change = change%500
coin100s = change//100
change = change%100

거스름 돈:  56600

In [3]:
print("1000원 개수: ", coin1000s)
print("500원 개수: ", coin500s)
print("100원 개수: ", coin100s)

1000원 개수:  56
500원 개수:  1
100원 개수:  1

In [7]:
#물건값과 지불한 값 생성
item_price=int(input('물건값 : '))
pay = int(input('지불한 값 : '))

물건값 : 56700
지불한 값 : 100

In [8]:
#거스름돈
rest_money = item_price - pay
print('거스름돈은 '+ str(rest_money) +'원이다')

거스름돈은 56600원이다

In [9]:
#거스름돈 정확히 파악
rest10000 = int(rest_money/10000)
rest5000 = int(rest_money%10000/5000)
rest1000 = int(rest_money%5000/1000)
rest500 = int(rest_money%1000/500)
rest100 = int(rest_money%500/100)

print('거스름돈으로 만원지폐는 {0}장, 오천원지폐는 {1}장, 천원지폐는 {2}장, 오백원동전은 {3}개, 백원동전은 {4}개 받는다'
      .format(rest10000,rest5000,rest1000,rest500,rest100))

거스름돈으로 만원지폐는 5장, 오천원지폐는 1장, 천원지폐는 1장, 오백원동전은 1개, 백원동전은 1개 받는다

In [10]:
# 조건1 : 랜덤으로 날짜를 뽑아야 함
# 조건2 : 월별 날짜는 다름을 감안하여 최소 일수인 28 이내로 정함
# 조건3 : 매월 1~3월은 스터디 준비를 해야 하므로 제외

# (출력문 예제)
# 오프라인 스터디 모임 날짜는 매월 x 일로 선정되었습니다.

from random import *
date = randint(4, 28)
print("오프라인 스터디 모임 날짜는 매월 " + str(date) + " 일로 선정되었습니다.")

오프라인 스터디 모임 날짜는 매월 16 일로 선정되었습니다.

In [11]:
sentence = '나는 소년입니다'
print(sentence)
sentence2 = '파이썬은 쉬워요'
print(sentence2)

나는 소년입니다
파이썬은 쉬워요

In [12]:
if 4 in [1, 2, 3, 4]: print("4가 있습니다")

4가 있습니다

In [13]:
for a in [1, 2, 3]:
    print(a)

1
2
3

In [14]:
i = 0
while i < 3:
    i = i + 1
    print(i)

1
2
3

In [15]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [16]:
a = "python"
a * 2

'pythonpython'

In [17]:
a = "Life is too short"
len(a)

17

In [18]:
a = "20220316Sunny"
date = a[:8]
weather = a[8:]
date, weather

('20220316', 'Sunny')

In [19]:
"I eat %d apples." %3

'I eat 3 apples.'

In [20]:
"I eat %s apples." % "five"

'I eat five apples.'

In [21]:
# format 함수를 사용한 포매팅
"I eat {0} apples.".format(3)

'I eat 3 apples.'

In [22]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format (number, day)

'I ate 10 apples. so I was sick for three days.'

In [23]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [24]:
# 정렬
f'{"hi":<10}'

'hi        '

In [25]:
f'{"hi":>10}'

'        hi'

In [26]:
f'{"hi":^10}'

'    hi    '

In [27]:
# 문자세기
a = "hobby"
a.count('b')

2

In [28]:
# 위치 알려주기
a = "Python is the best choice"
a.find('b')

14

In [29]:
a = [1, 2, 3, ['a', 'b', 'c']]
a[-1][0]

'a'

In [30]:
a[-1][1]

'b'

In [31]:
a[-1][2]

'c'

In [32]:
# 리스트에서 값 수정하기
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [33]:
# del 함수 사용해 리스트 요소 삭제하기
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [34]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

In [35]:
#리스트에 요소 추가(append)
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [36]:
#리스트 정렬(sort)
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [37]:
#리스트 뒤집기(reverse)
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [38]:
#위치 반환(index)
a = [1, 2, 3]
a.index(3)

2

In [39]:
a.index(1)

0

In [40]:
#리스트에 요소 삽입(insert)
a = [1, 2, 3]
a.insert(0, 4)  # 0의 위치에 4를 추가!!!
a

[4, 1, 2, 3]

In [41]:
#리스트 요소 제거(remove)
a = [1, 2, 3, 1, 2, 3]
a.remove(3)      #remove(x)는 리스트에서 첫 번째로 나오는 x를 삭제하는 함수이다.
a

[1, 2, 1, 2, 3]

In [42]:
#리스트 요소 끄집어내기(pop)
a = [1, 2, 3]
a.pop()

3

In [43]:
a

[1, 2]

In [44]:
#리스트에 포함된 요소 x의 개수 세기(count)
a = [1, 2, 3, 1]
a.count(1)

2

In [45]:
#리스트 확장(extend)
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [46]:
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [47]:
t1 = (1, 2, 'a', 'b')
len(t1)

4

In [48]:
# 교집합, 합집합, 차집합 구하기
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6 ,7, 8, 9])
s1 & s2

{4, 5, 6}

In [49]:
#합집합 s1|s2

In [50]:
#차집합
s1 - s2

{1, 2, 3}

In [51]:
s2 - s1

{7, 8, 9}

In [52]:
# 값 1개 추가하기(add)
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [53]:
# 값 여러 개 추가하기(update)
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

In [54]:
# 특정 값 제거하기(remove)
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

In [55]:
# 변수를 만드는 여러 가지 방법
a, b = ('python', 'life')
(a, b) = ['python', 'life']
[a,b] = ['python', 'life']
a = b = 'python'

In [56]:
a = 3
b = 5
a, b = b, a
a

5

In [57]:
b

3

### 연습문제 p.112

In [58]:
# 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

a = 80
b = 75
c = 55
(a+b+c)/3

70.0

In [59]:
# 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.
1%2
2%2
3%2
4%2
13%2

1

In [60]:
# 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

pin = "881120-1068234"
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

In [61]:
# 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.
pin = "881120-1068234"
print(pin[7])

1

In [62]:
# 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

In [63]:
# [1,3,5,4,2]리스트를 [5,4,3,2,1]로 만들어 보자.
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

### 위키독스

In [64]:
print("Hello World")

Hello World

In [65]:
print("Mary's cosmetics")

Mary's cosmetics

In [67]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [72]:
print("C:\Windows")

C:\Windows

In [73]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [74]:
print ("오늘은", "일요일")

오늘은 일요일

In [75]:
print('naver;kakao;sk;samsung')

naver;kakao;sk;samsung

In [76]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [77]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [79]:
s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [80]:
print(2 + 2 * 3)

8

In [5]:
a = 128
print(type(a))

<class 'int'>

In [1]:
print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung

In [3]:
a = "132"
print(type(a))

<class 'str'>

In [6]:
num_str = "720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [7]:
year = "2020"
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [9]:
월 = 48584
총금액 = 48584 * 36
print(총금액)

1749024

In [14]:
lang = 'python'
print(lang[0], lang[2])

p t

In [1]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [8]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [15]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [19]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

In [22]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", "")
print(phone_number1)

01011112222

In [23]:
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [1]:
lang = 'python'
lang[0] = 'p'
print(lang)
# 문자열은 수정할 수 없다. 실행 결과를 통해 문자열이 할당 메서드를 지원하지 않음을 알 수 있다.

TypeError: 'str' object does not support item assignment

In [3]:
string = 'abcdfe2a354a32a'
string = string.replace('abcdfe2a354a32a', 'Abcdfe2A354A32A')
print(string)

Abcdfe2A354A32A

In [4]:
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

In [8]:
string = 'abcd'
string.replace('b', 'B')
print(string)
# abcd가 그대로 출력! 문자열은 변경할 수 없는 자료형이기 때문에 replace 메서드를
# 사용하면 원본은 그대로 둔채로 변경된 새로운 문자열 객체를 리턴해준다.

abcd

In [9]:
string = 'abcd'
string = string.replace('b', 'B')
print(string)

aBcd

In [10]:
a = "3"
b = "4"
print(a + b)

34

In [11]:
print("Hi" * 3)

HiHiHi

In [12]:
print('-' * 80)

--------------------------------------------------------------------------------

In [16]:
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

In [17]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [19]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [20]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [22]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [23]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [25]:
data = "   삼성전자   "
data1 = data.strip()
print(data1)
#strip 메서드를 통해 좌우의 공백을 제거할 수 있음.
# 원본 문자열은 그대로 유지되고 공백이 제거된 새로운 문자열이 반환됩니다.

삼성전자

### upper 메서드

In [44]:
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

In [41]:
# lower 메서드
ticker = "BTC_KRW"
ticker = ticker.lower()
print(ticker)

btc_krw

In [42]:
a = 'hello'
a1 = a.upper()
print(a1)

HELLO

In [43]:
# capitalize 메서드
a = "hello"
a = a.capitalize()
print(a)

Hello

In [45]:
# endswith 메서드             'xlsx'로 끝나는지 확인!
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [48]:
# endswith 메서드             'xlsx', 'xls'로 끝나는지 확인!
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [49]:
# startswith 메서드             2020으로 시작하는지 확인!
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [50]:
a = "hello world"         #split() 메서드를 사용하면 문자열에서 공백을 기준으로 분리
a.split()

['hello', 'world']

In [53]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [55]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [58]:
# rstrip 메서드                    오른쪽 공백 제거
data = "039490      "
data.rstrip()

'039490'

In [59]:
# 리스트 생성
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [60]:
# 리스트에 원소 추가       append
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [61]:
# 리스트의 insert(인덱스, 원소) 메서드를 사용하면 특정 위치에 값을 끼워넣음.
movie_rank = ["닥터 스트레인지", "스플릿", "럭키", "배트맨"]
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [65]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [69]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[2]
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '럭키']

In [1]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [2]:
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [3]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [5]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [6]:
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

3.0

In [7]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [10]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [12]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [14]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [17]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [20]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [21]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [23]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [25]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [29]:
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [31]:
data = [2, 4, 3, 1, 5, 10 , 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [32]:
data = [2, 4, 3, 1, 5, 10 , 9]
data2 = sorted(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]

In [33]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [35]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

In [36]:
my_tuple = (1)
type(my_tuple)

int

In [38]:
my_tuple = (1, )

In [40]:
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [41]:
t = 1, 2, 3, 4

In [43]:
t = ('a', 'b', 'c')
t[0] = 'A'

TypeError: 'tuple' object does not support item assignment

In [44]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)

In [45]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = tuple(interest)

In [46]:
temp = ('apple', 'banana', 'cale')
a, b, c = temp
print(a, b, c)

apple banana cale

In [48]:
data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [49]:
data = tuple(range(2, 100, 2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [50]:
a, b, *c = (0, 1, 2, 3, 4, 5)
a

0

In [51]:
b

1

In [52]:
c

[2, 3, 4, 5]

In [56]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _ = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [58]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [59]:
socres = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [60]:
temp = { }

In [61]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [62]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [66]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [69]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice["메로나"] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [71]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#90