In [1]:
import pandas as pd

In [2]:
DIR='./beachpredict.csv'

In [3]:
df=pd.read_csv(DIR)

In [4]:
print(df.info())
print('------------------------------------------------------------------')
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2099 entries, 0 to 2098
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   일시             2099 non-null   object
 1   지점             2006 non-null   object
 2   평균 풍속(m/s)     1986 non-null   float64
 3   평균 상대습도(%)     1926 non-null   float64
 4   평균 기온(°C)      1920 non-null   float64
 5   평균 수온(°C)      1987 non-null   float64
 6   지점.1           2099 non-null   object
 7   일강수량(mm)       617 non-null    float64
 8   합계 일조시간(hr)    2097 non-null   float64
 9   지점.2           2041 non-null   object
 10  평균 풍속(m/s).1   1998 non-null   float64
 11  평균 상대습도(%).1   1985 non-null   float64
 12  평균 기온(°C).1    2038 non-null   float64
 13  평균 수온(°C).1    2034 non-null   float64
 14  지점.3           2099 non-null   object
 15  일강수량(mm).1     686 non-null    float64
 16  합계 일조시간(hr).1  2091 non-null   float64
dtypes: float64(12), object(5)
memory usage: 278.9+ KB
None
------------------------------------------------------------------
           일시  지점  평균 풍속(m/s)  평균 상대습도(%)  평균 기온(°C)  평균 수온(°C) 지점.1  \
0  2017-01-01  거제         3.3        60.0        9.8       15.3   거제
1  2017-01-02  거제         5.1        66.0       12.0       15.4   거제
2  2017-01-03  거제         4.6        53.0       10.8       15.0   거제
3  2017-01-04  거제         5.2        54.0       11.3       15.6   거제
4  2017-01-05  거제        10.0        72.0       11.8        NaN   거제

   일강수량(mm)  합계 일조시간(hr) 지점.2  평균 풍속(m/s).1  평균 상대습도(%).1  평균 기온(°C).1  \
0       NaN          7.0   통영           NaN          62.0          9.4
1       NaN          6.5   통영           NaN          65.0         12.0
2       NaN          7.3   통영           4.8          58.0          9.6
3       NaN          6.5   통영           4.2          49.0         10.5
4       NaN          0.9   통영           8.9          68.0         11.1

   평균 수온(°C).1 지점.3  일강수량(mm).1  합계 일조시간(hr).1
0         17.3   통영         NaN            8.6
1         16.8   통영         NaN            6.9
2         15.3   통영         NaN            8.7
3         13.9   통영         NaN            7.7
4         13.8   통영         NaN            2.3

In [5]:
df.isnull().sum()

일시                  0
지점                 93
평균 풍속(m/s)        113
평균 상대습도(%)        173
평균 기온(°C)         179
평균 수온(°C)         112
지점.1                0
일강수량(mm)         1482
합계 일조시간(hr)         2
지점.2               58
평균 풍속(m/s).1      101
평균 상대습도(%).1      114
평균 기온(°C).1        61
평균 수온(°C).1        65
지점.3                0
일강수량(mm).1       1413
합계 일조시간(hr).1       8
dtype: int64

In [6]:
df.drop(['지점.1', '지점.3'], axis=1, inplace=True)

In [7]:
df['일강수량(mm)'].fillna(0 , inplace=True)
df['일강수량(mm).1'].fillna(0 , inplace=True)

In [8]:
print(df['일강수량(mm)'].isnull().sum())
print(df['일강수량(mm).1'].isnull().sum())

0
0

In [9]:
# 중앙값 대체
df['평균 풍속(m/s)'].fillna(df['평균 풍속(m/s)'].mean(), inplace=True)
df['평균 상대습도(%)'].fillna(df['평균 상대습도(%)'].mean(), inplace=True)
df['평균 기온(°C)'].fillna(df['평균 기온(°C)'].mean(), inplace=True)
df['평균 수온(°C)'].fillna(df['평균 수온(°C)'].mean(), inplace=True)
df['평균 풍속(m/s).1'].fillna(df['평균 풍속(m/s).1'].mean(), inplace=True)
df['평균 상대습도(%).1'].fillna(df['평균 상대습도(%).1'].mean(), inplace=True)
df['평균 기온(°C).1'].fillna(df['평균 기온(°C).1'].mean(), inplace=True)
df['평균 수온(°C).1'].fillna(df['평균 수온(°C).1'].mean(), inplace=True)

In [10]:
df.isnull().sum()

일시                0
지점               93
평균 풍속(m/s)        0
평균 상대습도(%)        0
평균 기온(°C)         0
평균 수온(°C)         0
일강수량(mm)          0
합계 일조시간(hr)       2
지점.2             58
평균 풍속(m/s).1      0
평균 상대습도(%).1      0
평균 기온(°C).1       0
평균 수온(°C).1       0
일강수량(mm).1        0
합계 일조시간(hr).1     8
dtype: int64

In [11]:
df['합계 일조시간(hr)']

0        7.0
1        6.5
2        7.3
3        6.5
4        0.9
        ...
2094     0.2
2095     3.5
2096     3.7
2097    10.4
2098    10.4
Name: 합계 일조시간(hr), Length: 2099, dtype: float64

In [12]:
df['합계 일조시간(hr)'].fillna(df['합계 일조시간(hr)'].mean(), inplace=True)
df['합계 일조시간(hr).1'].fillna(df['합계 일조시간(hr).1'].mean(), inplace=True)

In [13]:
df.isnull().sum()

일시                0
지점               93
평균 풍속(m/s)        0
평균 상대습도(%)        0
평균 기온(°C)         0
평균 수온(°C)         0
일강수량(mm)          0
합계 일조시간(hr)       0
지점.2             58
평균 풍속(m/s).1      0
평균 상대습도(%).1      0
평균 기온(°C).1       0
평균 수온(°C).1       0
일강수량(mm).1        0
합계 일조시간(hr).1     0
dtype: int64

In [14]:
df['지점'].fillna('거제', inplace=True)
df['지점.2'].fillna('통영', inplace=True)

In [15]:
df.isnull().sum()

일시               0
지점               0
평균 풍속(m/s)       0
평균 상대습도(%)       0
평균 기온(°C)        0
평균 수온(°C)        0
일강수량(mm)         0
합계 일조시간(hr)      0
지점.2             0
평균 풍속(m/s).1     0
평균 상대습도(%).1     0
평균 기온(°C).1      0
평균 수온(°C).1      0
일강수량(mm).1       0
합계 일조시간(hr).1    0
dtype: int64